:root {
  --Gray50: #f9fafb;
  --Gray100: #f5f8fa;
  --Gray200: #eff2f5;
  --Gray500: #a1a5b7;
  --Gray600: #7e8299;
  --Gray800: #3f4254;
  --Orange400: #7d4300;
  --Secondary800: #036838f5;
  --Green : #b0bf24;
}
