.card {
  width: 224px;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: white;
  box-sizing: border-box;
  padding: 16px;
}
.card_img {
  width: 192px;
  height: 112px;
  border-radius: 8px;
}
.card_title {
  color: var(--Gray800);
  font-size: 22px;
  font-weight: bolder;
}
.card_content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tag {
  line-height: 28px;
  width: 77px;
  height: 28px;
  text-align: center;
  border-radius: 12px;
  font-size: 12px;
}
.speed {
  background: var(--Gray100);
  color: var(--Orange400);
}
.slow {
  color: var(--Secondary800);
  background: var(--Gray100);
}
.card_voite {
  font-size: 12px;
  line-height: 28px;
  width: 77px;
  height: 28px;
  color: var(--Gray800);
}
@media screen and (max-width: 800px) {
  .card{
    width:139 ;
  }
  .card_img {
    width: 129px;
    height: 75px;
  }
  .card_title {
    font-size: 12px;
  }
  .card_content{
    width: 107px;
  }
  .card_voite{
    font-size: 10px;
  }
}
