.btn {
  border: none;
  border-radius: 5px;
  height: 40px;
  filter: brightness(1);
  font-size: 12px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  cursor: pointer;
  filter: brightness(0.9);
  transition: 0.3s;
}
.btn_primary {
  background: var(--Green);
  color: white;
}
.btn_neutral {
  background: var(--Gray100);
  color: var(--Gray600);
}
.btn_neutral_white {
  background: withe;
  color: var(--Gray600);
}
.btn_small {
  width: 26px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
  background: var(--OrangeMain);
}
.btn_normal {
  width: 127px;
}
.btn_medium {
  width: 241px;
}
.btn_large {
  width: 192px;
}
.btn_xLarge {
  width: 323px;
}

.icon {
  height: 16px;
  width: 16px;
}
.iconL {
  margin-right: 4px;
  
}
.iconR {
  margin-left: 4px;
}
.lable_btn {
  font-size: 12;
  font-weight: bolder;
}
@media screen and (max-width: 800px) {
  .btn {
    height: 32px;
  }
  .lable_share {
    display: none;
  }
  .lable_btn {
    font-size: 10;
    font-weight: bolder;
  }
  .btn_primary {
    width: 32px !important;
    height: 32px !important;
  }
  .btn_large {
    width: 107px;
  }
}
